/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --brand01: #3d70b2;
  --brand02: #5596e6;
  --brand03: #41d6c3;
  --accent01: #f5f7fa;
  --accent02: #f0f3f6;
  --accent03: #dfe3e6;
  --accent04: #8c9ba5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f3f6;
}

.container {
  max-width: 860px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  /* border: 1px solid steelblue; */
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 1px 15px 0px #00000021;
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  color: var(--brand02);
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  /* margin: 5px; */
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  font-family: inherit;
  /* transition: background-color 0.15s ease; */
  transition: filter 150ms;
}

.btn:hover {
  /* background-color: #000 !important; */
  filter: brightness(0.8);
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
  background-color: var(--brand02);
}

.task {
  background: #f4f4f4;
  margin: 5px 0;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid var(--brand03);
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 50px;
  margin: 5px 0;
  padding: 3px 15px;
  background-color: #f4f4f4;
  border: none;
  font-family: inherit;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}